# Ignore all files
/*

# Ignore files that include dot in name
/.*


# TARGETS
!/.gitignore
!/.gitmodules
!/.tmux.conf
!/.zshrc
!/.emacs.d
!/.emacs.d/init.el
!/.emacs.d/init/*.el
!/.emacs.d/Gemfile
!/.config
!/.config/fish
!/.config/fish/functions
!/.config/fish/config.fish
!/bin

# Ignore from TARGETS
/.emacs.d/auto-save-list*
/.emacs.d/#*
/.emacs.d/.#*
/.emacs.d/%*
/.emacs.d/*.dat
/.emacs.d/*~
/.emacs.d/el-get
/.emacs.d/init/*.elc
/.emacs.d/elpa
/.emacs.d/recentf
/.emacs.d/eshell
/.emacs.d/tramp
/.emacs.d/transient/
/.config/Amazon
/.config/omf
/.config/heroku
/.config/configstore
/.config/fish/fishd.*
/.config/fish/fish_variables
/.config/fisher
/.config/yarn
/.config/neofetch
/.config/gcloud
