# Ignore all files
/*

# Ignore files that include dot in name
/.*


# TARGETS
!/.gitignore
!/.gitmodules
!/.tmux.conf
!/.zshrc
!/.emacs.d
!/.emacs.d/init.el
!/.emacs.d/init/*.el
!/.emacs.d/Gemfile
!/.config
!/.config/fish
!/.config/fish/functions
!/.config/fish/config.fish
!/bin
!/keymaps

# Ignore from TARGETS
/.emacs.d
/.config

projectile-bookmarks.eld
