# Ignore all files
/*

# Ignore files that include dot in name
/.*


# TARGETS
!/.gitignore
!/.gitmodules
!/.tmux.conf
!/.zshrc
!/.emacs.d
!/.emacs.d/init.el



# Ignore from TARGETS
/.emacs.d/auto-save-list*
/.emacs.d/#*
/.emacs.d/%*
/.emacs.d/*.dat
/.emacs.d/*~
/.emacs.d/el-get
/.emacs.d/elpa